*/__pycache__/
__pycache__

output/

filtering/output
pid_neha/output

attic/filtering/output
attic/pid_neha/output

hdf/output
evtgen/output

performance/plots/v*

*.h5
*/*.h5

performance/out

notebooks/benchmark_tau_reco_iceprod/requirements/data/
notebooks/benchmark_snowstorm_iceprod/requirements/data/