[IC86_pass2_SnowStorm_FTP_HESE_Cascades]
# asr: active string requirement, proper i3
# 411785301.60
# 13.0576262557
livetime = 411785301.60

[IC86_pass2_SnowStorm_FTP_HESE_DoubleCascades]
livetime = 411785301.60

[IC86_pass2_SnowStorm_FTP_HESE_Tracks]
livetime = 411785301.60

[IC86_pass2_SnowStorm_FTP_HESE_Combined]
livetime = 411785301.60
