[IC86_pass2_SnowStorm_FTP_HESE_Cascades]
# 414033153.63
# 13.13 years
livetime = 414033153.63

[IC86_pass2_SnowStorm_FTP_HESE_DoubleCascades]
livetime = 414033153.63

[IC86_pass2_SnowStorm_FTP_HESE_Tracks]
livetime = 414033153.63
