---
factors:
  - name: "powerlaw"
    type: "PowerLawFlux"
    pivot_energy: 1.0E+5
    baseline_norm: 0.5E-18 # factor 0.5 to factor in per type flux 
    param_mapping:
      flux_norm: "astro_norm"
      spectral_index: "astro_index"
  - name: "flavor_ratio"
    type: "FlavorRatio"
    param_mapping:
      nue_ratio: "nue_ratio"
      nutau_ratio: "nutau_ratio"
  - name: "conv_norm"
    type: "FluxNorm"
    param_mapping:
      flux_norm: "conv_norm"
  - name: "CR_intp_conv"
    type: "ModelInterpolator"
    baseline_weight: "conv_weight"
    alternative_weight: "conv_weight_alt"
  - name: "prompt_norm"
    type: "FluxNorm"
    param_mapping:
      flux_norm: "prompt_norm"
  - name: "CR_intp_prompt"
    type: "ModelInterpolator"
    baseline_weight: "prompt_weight"
    alternative_weight: "prompt_weight_alt"
  - name: "delta_gamma"
    type: "DeltaGamma"
    reference_energy: 2617.3148996675773
  - name: "muon_norm"
    type: "FluxNorm"
    param_mapping:
    flux_norm: "muon_norm"
  - name: Veto_conv
    type: FixedVeto
    passing_fraction: passing_fraction_conv
  - name: Veto_prompt
    type: FixedVeto
    passing_fraction: passing_fraction_prompt
components:
  - name: "astro"
    factors: ["powerlaw","flavor_ratio"]
  - name: "atmo"
    factors: ["conv_norm", "delta_gamma", "CR_intp_conv","Veto_conv"]
  - name: "prompt"
    factors: ["prompt_norm", "delta_gamma", "CR_intp_prompt","Veto_prompt"]
models:
  - name: "neutrino_model"
    components:
    - name: "astro"
      baseline_weight: "baseline_weight"
    - name: "atmo"
      baseline_weight: "conv_weight"
    - name: "prompt"
      baseline_weight: "prompt_weight"
histograms:
  - name: tracks
    binning:
      type: RectangularBinning
      bin_vars_edges:
        - ["log10_reco_energy", "linear", [4.778, 7.1, 24]]
        - ["cos_reco_zenith", "linear", [-1, 1, 11]]
    lifetime: 368813893.34
    models: [["neutrino_model","tracks_selection"]]
  - name: cascades
    binning:
      type: RectangularBinning
      bin_vars_edges:
        - ["log10_reco_energy", "linear", [4.778, 7.1, 24]]
        - ["cos_reco_zenith", "linear", [-1, 1, 11]]
    lifetime: 368813893.34
    models: [["neutrino_model","cascade_selection"]]
  - name: doubles
    binning:
      type: RectangularBinning
      bin_vars_edges:
        - ["log10_reco_energy", "linear", [4.778, 7.1, 14]]
        - ["log10_reco_length", "linear", [1, 3, 11]]
    lifetime: 368813893.34
    models: [["neutrino_model","double_selection"]]
model_parameters:
  astro_norm: 2.12
  astro_index: 2.87
  conv_norm: 1.0
  prompt_norm: 0.0
  delta_gamma: 0.0
  lambda_int: 1.0
  nue_ratio: 1.0
  nutau_ratio: 1.0

prior_bounds:
  astro_norm: [0, inf]
  astro_index: [-inf, inf]
  conv_norm: [0.0, inf]
  prompt_norm: [0.0, inf]
  delta_gamma: [-1.0, 1.0]
  lambda_int: [-1.0, 2.0]
  nue_ratio: [0.0, inf]
  nutau_ratio: [0.0, inf]

prior_seeds:
  astro_norm: 2.12
  astro_index: 2.87
  conv_norm: 1.0
  prompt_norm: 0.0
  delta_gamma: 0.0
  lambda_int: 1.0
  nue_ratio: 1.0
  nutau_ratio: 1.0



datasets:
  - name: tracks_selection
    path: <THIS_PATH>/track.parquet
    param_mapping:
      log10_reco_energy: 
        df_key: reco_energy
        transform: log10
      cos_reco_zenith:
        df_key: reco_dir
        transform: cos
      true_energy:
        df_key: MCPrimaryEnergy
        transform: null
      baseline_weight:
        df_key: fluxless_weight
        transform: null
      conv_weight: 
        df_key: mceq_conv_H4a_SIBYLL23c
        transform: null
      prompt_weight:
        df_key: mceq_pr_H4a_SIBYLL23c
        transform: null
      conv_weight_alt:
        df_key: mceq_conv_GST4_SIBYLL23c
        transform: null
      prompt_weight_alt:
        df_key: mceq_pr_GST4_SIBYLL23c
        transform: null
      true_type:
        df_key: MCPrimaryType
      passing_fraction_conv:
        df_key: PassRate_conv 
      passing_fraction_prompt:
        df_key: PassRate_prompt
    median_energy:
      energy_key: MCPrimaryEnergy
      weight: mceq_conv_H4a_SIBYLL23c

  - name: cascade_selection
    path: <THIS_PATH>/cascade.parquet
    param_mapping:
      log10_reco_energy: 
        df_key: reco_energy
        transform: log10
      cos_reco_zenith:
        df_key: reco_dir
        transform: cos
      true_energy:
        df_key: MCPrimaryEnergy
        transform: null
      baseline_weight:
        df_key: fluxless_weight
        transform: null
      conv_weight: 
        df_key: mceq_conv_H4a_SIBYLL23c
        transform: null
      prompt_weight:
        df_key: mceq_pr_H4a_SIBYLL23c
        transform: null
      conv_weight_alt:
        df_key: mceq_conv_GST4_SIBYLL23c
        transform: null
      prompt_weight_alt:
        df_key: mceq_pr_GST4_SIBYLL23c
        transform: null
      true_type:
        df_key: MCPrimaryType
      passing_fraction_conv:
        df_key: PassRate_conv 
      passing_fraction_prompt:
        df_key: PassRate_prompt
    median_energy:
      energy_key: MCPrimaryEnergy
      weight: mceq_conv_H4a_SIBYLL23c

  - name: double_selection
    path: <THIS_PATH>/double.parquet
    param_mapping:
      log10_reco_energy: 
        df_key: reco_energy
        transform: log10
      cos_reco_zenith:
        df_key: reco_dir
        transform: cos
      log10_reco_length:
        df_key: reco_length
        transform: log10
      true_energy:
        df_key: MCPrimaryEnergy
        transform: null
      baseline_weight:
        df_key: fluxless_weight
        transform: null
      conv_weight: 
        df_key: mceq_conv_H4a_SIBYLL23c
        transform: null
      prompt_weight:
        df_key: mceq_pr_H4a_SIBYLL23c
        transform: null
      conv_weight_alt:
        df_key: mceq_conv_GST4_SIBYLL23c
        transform: null
      prompt_weight_alt:
        df_key: mceq_pr_GST4_SIBYLL23c
        transform: null
      true_type:
        df_key: MCPrimaryType
      passing_fraction_conv:
        df_key: PassRate_conv 
      passing_fraction_prompt:
        df_key: PassRate_prompt
    median_energy:
      energy_key: MCPrimaryEnergy
      weight: mceq_conv_H4a_SIBYLL23c
