[fluxes]
astro = powerlaw
atmo = mceq_conv_H4a_SIBYLL23c, mceq_conv_GST4_SIBYLL23c, barr_h_mceq_H4a_SIBYLL23c, barr_w_mceq_H4a_SIBYLL23c, barr_y_mceq_H4a_SIBYLL23c, barr_z_mceq_H4a_SIBYLL23c
prompt = mceq_pr_H4a_SIBYLL23c, mceq_pr_GST4_SIBYLL23c, barr_h_mceq_pr_H4a_SIBYLL23c, barr_w_mceq_pr_H4a_SIBYLL23c, barr_z_mceq_pr_H4a_SIBYLL23c, barr_y_mceq_pr_H4a_SIBYLL23c
muon = muongun_conv_H4a_SIBYLL
common = fluxless_weight

#
# common
# 

[fluxless_weight]
flux = fluxless_weight
class = powerlaw
const = 1.0
index = 0
mc_type = NuGen

#
# astro
#

[powerlaw]
flux = powerlaw
class = powerlaw
const = 1E-8
index = 2
mc_type = NuGen

#
# atmo
#

[mceq_conv_H4a_SIBYLL23c]
flux = mceq_conv_H4a_SIBYLL23c
class = mceq_spline
spline_file = /data/user/eganster/GlobalFit/MCEq/v1.2.1/MCEq_splines_PRI-Gaisser-H4a_INT-SIBYLL23c_allfluxes.pickle
mceq_keys = conv_antinumu, conv_numu, conv_antinue, conv_nue, conv_antinutau, conv_nutau
mc_type = NuGen

[mceq_conv_GST4_SIBYLL23c]
flux = mceq_conv_GST4_SIBYLL23c
class = mceq_spline
spline_file = /data/user/eganster/GlobalFit/MCEq/v1.2.1/MCEq_splines_PRI-GST-4gen_INT-SIBYLL23c_allfluxes.pickle
mceq_keys = conv_antinumu, conv_numu, conv_antinue, conv_nue, conv_antinutau, conv_nutau
mc_type = NuGen

## barr
[barr_h_mceq_H4a_SIBYLL23c]
spline_file = /data/user/eganster/GlobalFit/MCEq/v1.2.1/barr_gradients/Barr_gradients_PRI-Gaisser-H4a_INT-SIBYLL23C.pickle
flux = barr_h_mceq_H4a_SIBYLL23c
class = mceq_barr_spline
barr_key = h+, h-
mceq_keys = conv_antinumu, conv_numu, conv_antinue, conv_nue
#, conv_antinutau, conv_nutau
mc_type = NuGen

[barr_y_mceq_H4a_SIBYLL23c]
spline_file = /data/user/eganster/GlobalFit/MCEq/v1.2.1/barr_gradients/Barr_gradients_PRI-Gaisser-H4a_INT-SIBYLL23C.pickle
flux = barr_y_mceq_H4a_SIBYLL23c
class = mceq_barr_spline
barr_key = y+, y-
mceq_keys = conv_antinumu, conv_numu, conv_antinue, conv_nue
#, conv_antinutau, conv_nutau
mc_type = NuGen

[barr_z_mceq_H4a_SIBYLL23c]
spline_file = /data/user/eganster/GlobalFit/MCEq/v1.2.1/barr_gradients/Barr_gradients_PRI-Gaisser-H4a_INT-SIBYLL23C.pickle
flux = barr_z_mceq_H4a_SIBYLL23c
class = mceq_barr_spline
barr_key = z+, z-
mceq_keys = conv_antinumu, conv_numu, conv_antinue, conv_nue
#, conv_antinutau, conv_nutau
mc_type = NuGen

[barr_w_mceq_H4a_SIBYLL23c]
spline_file = /data/user/eganster/GlobalFit/MCEq/v1.2.1/barr_gradients/Barr_gradients_PRI-Gaisser-H4a_INT-SIBYLL23C.pickle
flux = barr_w_mceq_H4a_SIBYLL23c
class = mceq_barr_spline
barr_key = w+, w-
mceq_keys = conv_antinumu, conv_numu, conv_antinue, conv_nue
#, conv_antinutau, conv_nutau
mc_type = NuGen

#
# prompt
#

[mceq_pr_H4a_SIBYLL23c]
flux = mceq_pr_H4a_SIBYLL23c
class = mceq_spline
spline_file = /data/user/eganster/GlobalFit/MCEq/v1.2.1/MCEq_splines_PRI-Gaisser-H4a_INT-SIBYLL23c_allfluxes.pickle
mceq_keys = pr_antinumu, pr_numu, pr_antinue, pr_nue, pr_antinutau, pr_nutau
mc_type = NuGen

[mceq_pr_GST4_SIBYLL23c]
flux = mceq_pr_GST4_SIBYLL23c
class = mceq_spline
spline_file = /data/user/eganster/GlobalFit/MCEq/v1.2.1/MCEq_splines_PRI-GST-4gen_INT-SIBYLL23c_allfluxes.pickle
mceq_keys = pr_antinumu, pr_numu, pr_antinue, pr_nue, pr_antinutau, pr_nutau
mc_type = NuGen

## barr
[barr_h_mceq_pr_H4a_SIBYLL23c]
spline_file = /data/user/eganster/GlobalFit/MCEq/v1.2.1/barr_gradients/Barr_gradients_PRI-Gaisser-H4a_INT-SIBYLL23C.pickle
flux = barr_h_mceq_pr_H4a_SIBYLL23c
class = mceq_barr_spline
barr_key = h+, h-
mceq_keys = pr_antinumu, pr_numu, pr_antinue, pr_nue, pr_antinutau, pr_nutau
mc_type = NuGen

[barr_y_mceq_pr_H4a_SIBYLL23c]
spline_file = /data/user/eganster/GlobalFit/MCEq/v1.2.1/barr_gradients/Barr_gradients_PRI-Gaisser-H4a_INT-SIBYLL23C.pickle
flux = barr_y_mceq_pr_H4a_SIBYLL23c
class = mceq_barr_spline
barr_key = y+, y-
mceq_keys = pr_antinumu, pr_numu, pr_antinue, pr_nue, pr_antinutau, pr_nutau
mc_type = NuGen

[barr_z_mceq_pr_H4a_SIBYLL23c]
spline_file = /data/user/eganster/GlobalFit/MCEq/v1.2.1/barr_gradients/Barr_gradients_PRI-Gaisser-H4a_INT-SIBYLL23C.pickle
flux = barr_z_mceq_pr_H4a_SIBYLL23c
class = mceq_barr_spline
barr_key = z+, z-
mceq_keys = pr_antinumu, pr_numu, pr_antinue, pr_nue, pr_antinutau, pr_nutau
mc_type = NuGen

[barr_w_mceq_pr_H4a_SIBYLL23c]
spline_file = /data/user/eganster/GlobalFit/MCEq/v1.2.1/barr_gradients/Barr_gradients_PRI-Gaisser-H4a_INT-SIBYLL23C.pickle
flux = barr_w_mceq_pr_H4a_SIBYLL23c
class = mceq_barr_spline
barr_key = w+, w-
mceq_keys = pr_antinumu, pr_numu, pr_antinue, pr_nue, pr_antinutau, pr_nutau
mc_type = NuGen

#
# muon
#

[muongun_conv_H4a_SIBYLL]
flux = muongun_conv_H4a_SIBYLL
key_pre_calculation = MuonWeight
mc_type = MuonGun


#######################################
    # Baseline Detector configs #
#######################################

[IC86_pass2_SnowStorm_v2_Spice_Baseline]
directory = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/hese/combined
datasets = SnowStorm_22043_Bfr_HESE_Baseline,SnowStorm_22044_Bfr_HESE_Baseline,
           SnowStorm_22046_Bfr_HESE_Baseline,SnowStorm_22047_Bfr_HESE_Baseline,
           SnowStorm_22049_Bfr_HESE_Baseline,SnowStorm_22050_Bfr_HESE_Baseline,
           SnowStorm_22079_Bfr_HESE_Baseline,SnowStorm_22080_Bfr_HESE_Baseline,
           SnowStorm_22082_Bfr_HESE_Baseline,SnowStorm_22083_Bfr_HESE_Baseline,
           SnowStorm_22085_Bfr_HESE_Baseline,SnowStorm_22086_Bfr_HESE_Baseline
reco_variables = IC86_pass2_SnowStorm_HESE_Taupede_reco_vars
mc_variables = IC86_pass2_SnowStorm_HESE_Taupede_mc_vars
fluxes = astro,atmo,prompt,muon,common

#######################################
    # Ensemble Detector configs #
#######################################

[IC86_pass2_SnowStorm_v2_Spice_Ensemble]
directory = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/hese/combined
datasets = SnowStorm_22011_Bfr_HESE_Ensemble,SnowStorm_22012_Bfr_HESE_Ensemble,
           SnowStorm_22014_Bfr_HESE_Ensemble,SnowStorm_22015_Bfr_HESE_Ensemble,
           SnowStorm_22017_Bfr_HESE_Ensemble,SnowStorm_22018_Bfr_HESE_Ensemble
reco_variables = IC86_pass2_SnowStorm_HESE_Taupede_reco_vars
mc_variables = IC86_pass2_SnowStorm_HESE_Taupede_mc_vars
fluxes = astro,atmo,prompt,muon,common



######################################
# Baseline dataset definitions #
######################################


[SnowStorm_22043_Bfr_HESE_Baseline]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_v1/NuMu_22043.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Baseline
generator = SnowStorm_NuMu_midE
nfiles_gen = 674
new_runid_style = True

[SnowStorm_22044_Bfr_HESE_Baseline]

files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_v1/NuMu_22044.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Baseline
generator = SnowStorm_NuMu_highE
nfiles_gen = 2250
new_runid_style = True

[SnowStorm_22046_Bfr_HESE_Baseline]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_v1/NuE_22046.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Baseline
generator = SnowStorm_NuE_midE
nfiles_gen = 525
new_runid_style = True

[SnowStorm_22047_Bfr_HESE_Baseline]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_v1/NuE_22047.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Baseline
generator = SnowStorm_NuE_highE
nfiles_gen = 2998
new_runid_style = True

[SnowStorm_22049_Bfr_HESE_Baseline]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_v1/NuTau_22049.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Baseline
generator = SnowStorm_NuTau_midE
nfiles_gen = 494
new_runid_style = True

[SnowStorm_22050_Bfr_HESE_Baseline]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_v1/NuTau_22050.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Baseline
generator = SnowStorm_NuTau_highE
nfiles_gen = 2773
new_runid_style = True

[SnowStorm_22079_Bfr_HESE_Baseline]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_v1/NuMu_22079.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Baseline
generator = SnowStorm_NuMu_midE
nfiles_gen = 1579
new_runid_style = True

[SnowStorm_22080_Bfr_HESE_Baseline]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_v1/NuMu_22080.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Baseline
generator = SnowStorm_NuMu_highE
nfiles_gen = 5245
new_runid_style = True

[SnowStorm_22082_Bfr_HESE_Baseline]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_v1/NuE_22082.h5    
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Baseline
generator = SnowStorm_NuE_midE
nfiles_gen = 1225
new_runid_style = True

[SnowStorm_22083_Bfr_HESE_Baseline]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_v1/NuE_22083.h5    
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Baseline
generator = SnowStorm_NuE_highE
nfiles_gen = 6987
new_runid_style = True

[SnowStorm_22085_Bfr_HESE_Baseline]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_v1/NuTau_22085.h5    
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Baseline
generator = SnowStorm_NuTau_midE
nfiles_gen = 1155
new_runid_style = True

[SnowStorm_22086_Bfr_HESE_Baseline]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_v1/NuTau_22086.h5    
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Baseline
generator = SnowStorm_NuTau_highE
nfiles_gen = 6466
new_runid_style = True



######################################
# Ensemble dataset definitions #
######################################

[SnowStorm_22011_Bfr_HESE_Ensemble]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_ensemble_v1/NuMu_22011.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Ensemble
generator = SnowStorm_NuMu_midE
nfiles_gen = 4500
new_runid_style = True

[SnowStorm_22012_Bfr_HESE_Ensemble]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_ensemble_v1/NuMu_22012_*.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Ensemble
generator = SnowStorm_NuMu_highE
nfiles_gen = 14983
new_runid_style = True

[SnowStorm_22014_Bfr_HESE_Ensemble]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_ensemble_v1/NuE_22014.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Ensemble
generator = SnowStorm_NuE_midE
nfiles_gen = 3500
new_runid_style = True

[SnowStorm_22015_Bfr_HESE_Ensemble]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_ensemble_v1/NuE_22015.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Ensemble
generator = SnowStorm_NuE_highE
nfiles_gen = 19970
new_runid_style = True

[SnowStorm_22017_Bfr_HESE_Ensemble]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_ensemble_v1/NuTau_22017.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Ensemble
generator = SnowStorm_NuTau_midE
nfiles_gen = 3298
new_runid_style = True

[SnowStorm_22018_Bfr_HESE_Ensemble]
files = /data/user/tvaneede/GlobalFit/reco_processing/hdf/output/spice_tau_reco_ensemble_v1/NuTau_22018.h5
type = NuGen
identifier = IC86_pass2_SnowStorm_v2_Spice_Ensemble
generator = SnowStorm_NuTau_highE
nfiles_gen = 18492
new_runid_style = True



#####################
# dataset variables #
#####################


#####################
# dataset variables #
#####################

#
# SnowStorm MC - HESE
#

[IC86_pass2_SnowStorm_HESE_Taupede_reco_vars]
event_id = I3EventHeader.Event
mjd = I3EventHeader.time_start_mjd


reco_energy=RecoETot.value
reco_energy_exists=RecoETot.exists
reco_energy_fit_status=HESEMillipedeFit.fit_status

#direction here is zenith!

reco_dir=RecoZenith.value
reco_dir_exists = RecoZenith.exists
reco_dir_fit_status = HESEMillipedeFit.fit_status

reco_length = RecoL.value
reco_length_exists = RecoL.exists
reco_length_fit_status = RecoL.exists

#Added to have reduced dimensions

# reco_lbye = RecoLbyE.value
# reco_lbye_exists = RecoLbyE.exists


#some more reconstructed info for PID
econfinement = RecoEConfinement.value
eratio = RecoERatio.value
reco_azimuth = RecoAzimuth.value


[IC86_pass2_SnowStorm_HESE_Taupede_mc_vars]
NuGen = IC86_pass2_SnowStorm_HESE_Taupede_mc_vars_nugen
MuonGun = IC86_pass2_SnowStorm_HESE_Taupede_mc_vars_muongun

[IC86_pass2_SnowStorm_HESE_Taupede_mc_vars_EvtGen_v0]
NuGen = IC86_pass2_SnowStorm_HESE_Taupede_mc_vars_nugen_EvtGen_v0
MuonGun = IC86_pass2_SnowStorm_HESE_Taupede_mc_vars_muongun


[IC86_pass2_SnowStorm_HESE_Taupede_mc_vars_nugen]
# TIntProbW = TotalWeightPol.value
TIntProbW = I3MCWeightDict.TotalWeight
MCPrimaryType =  I3MCWeightDict.PrimaryNeutrinoType
MCPrimaryAzimuth = I3MCWeightDict.PrimaryNeutrinoAzimuth
MCPrimaryEnergy =  I3MCWeightDict.PrimaryNeutrinoEnergy
MCPrimaryZenith = I3MCWeightDict.PrimaryNeutrinoZenith
InteractionType = I3MCWeightDict.InteractionType
InIceNeutrinoType = I3MCWeightDict.InIceNeutrinoType
InIceNeutrinoEnergy = I3MCWeightDict.InIceNeutrinoEnergy
BjorkenY = I3MCWeightDict.BjorkenY
Event = I3MCWeightDict.Event
TrueLength = TrueL.value
# TrueEventClass = MCReconstructionEventclass.value
PassRate_conv = ConventionalAtmosphericPassingFractions.value
PassRate_prompt = PromptAtmosphericPassingFractions.value

#SnowStorm parameters
IceScattering = SnowstormParameterDict.Scattering
IceAbsorption = SnowstormParameterDict.Absorption
DOMEfficiency = SnowstormParameterDict.DOMEfficiency
IceAnisotropyScale = SnowstormParameterDict.AnisotropyScale
HoleIceForward_p0 = SnowstormParameterDict.HoleIceForward_Unified_p0
HoleIceForward_p1 = SnowstormParameterDict.HoleIceForward_Unified_p1


[IC86_pass2_SnowStorm_HESE_Taupede_mc_vars_muongun]
MuonWeight = MuonWeightScaled.value
