[IC86_pass2_SnowStorm_v2_cscd_cascade_double]
name = IC86_pass2_SnowStorm_v2_cscd_cascade_double
datasets_path = ${main:dir_datasets}/SnowStorm_cscd_cascade_baseline_FTP_MSUangsens
baseline_dataset = ${datasets_path}
systematics = ${name}_systematics
var_mapping = ${name}_var_mapping
var_mapping_mc = ${name}_var_mapping_mc
analysis_binning = ${name}_2D_binning
# data = /data/ana/Diffuse/GlobalFit/NNMFit/datasets/data/data_cscd_cascade_wCoords.parquet
data = /data/ana/Diffuse/GlobalFit/NNMFit/datasets/data/data_cscd_cascade_FTP_Monopod_wCoords.parquet
livetime = 330315015.11
modification_hooks =
excluded_components = muontemplate_cascade_globalfit,muontemplate_track_globalfit, conventional_globalfit, prompt_globalfit, conventional_hese,prompt_hese,muontemplate_hese

[IC86_pass2_SnowStorm_v2_cscd_cascade_double_2D_binning]
class_name = Binning_2D
analysis_variables = reco_energy, reco_zenith
reco_energy_binning = (4.5, 7, 14, log)
reco_zenith_binning = (-1,1,2,cos)

[IC86_pass2_SnowStorm_v2_cscd_cascade_double_systematics]
systematics = Snowstorm_Gradients_FTP_5up

[IC86_pass2_SnowStorm_v2_cscd_cascade_double_var_mapping]
reco_energy = energy_monopod
reco_zenith = zenith_monopod
reco_ra = ra_monopod
reco_energy_exists = energy_monopod_exists
reco_energy_fit_status = energy_monopod_fit_status
reco_dir_exists = reco_dir_exists
reco_dir_fit_status = reco_dir_fit_status

[IC86_pass2_SnowStorm_v2_cscd_cascade_double_var_mapping_mc]
true_energy = MCPrimaryEnergy
true_zenith = MCPrimaryZenith
true_ptype = MCPrimaryType
true_lat = MCPrimaryLat
true_lon = MCPrimaryLon
true_dec = MCPrimaryDec
true_ra = MCPrimaryRA
