[IC86_pass2_SnowStorm_v2_cscd_cascade]
name = IC86_pass2_SnowStorm_v2_cscd_cascade
datasets_path = ${main:dir_datasets}/SnowStorm_cscd_cascade_baseline_FTP_MSUangsens
baseline_dataset = ${datasets_path}
systematics = ${name}_systematics
var_mapping = ${name}_var_mapping
var_mapping_mc = ${name}_var_mapping_mc
analysis_binning = ${name}_2D_binning
# data = /data/ana/Diffuse/GlobalFit/NNMFit/datasets/data/data_cscd_cascade_wCoords.parquet
data = /data/ana/Diffuse/GlobalFit/NNMFit/datasets/data/data_cscd_cascade_FTP_Monopod_wCoords.parquet
livetime = 330315015.11
modification_hooks =

# philipp
# excluded_components = muontemplate, conventional, prompt

# needs conventional_veto_globalfit, prompt_veto_globalfit, muon, astro. Remove all HESE components
excluded_components = muontemplate_drop5bins_globalfit, conventional_globalfit, prompt_globalfit, conventional,prompt,muontemplate

[IC86_pass2_SnowStorm_v2_cscd_cascade_2D_binning]
class_name = Binning_2D
analysis_variables = reco_energy, reco_zenith
# reco_energy_binning = (2.6,7,23,log)
reco_energy_binning = (2.8,7,22,log)
# reco_zenith_binning = (-1,1,4,cscd-cos)
reco_zenith_binning = (-1,1,8, cscd-cos_5up)

# [IC86_pass2_SnowStorm_v2_cscd_cascade_2D_to_3D_binning]
# class_name = Binning_2D_to_3D
# # Set the RA-binning the output template should have:
# analysis_variables = reco_energy, reco_zenith, reco_ra
# # Galactic template is calculated for the combined fit (drop lowest E bin)
# reco_energy_binning = (2.8,7,22,log)
# reco_zenith_binning = (-1,1,8, cscd-cos_5up)
# reco_ra_binning = (0,6.28319,19,lin)  # this is just for now

# [IC86_pass2_SnowStorm_v2_cscd_cascade_3D_binning]
# class_name = Binning_3D
# # Set the RA-binning the output template should have:
# analysis_variables = reco_energy, reco_zenith, reco_ra
# reco_energy_binning = (2.8,7,22,log)
# reco_zenith_binning = (-1,1,8, cscd-cos_5up)
# reco_ra_binning = (0,6.28319,19,lin)
# oversampling = galactic_oversampling

# [galactic_oversampling]
# type = fixed_full_range
# # map_min and map_max are set by make_galactic_template.py
# map_min =
# map_max =  
# variable = reco_ra
# components = galacticspline_fermi, galacticspline_KRA_5, galacticspline_KRA_50, galacticspline_cringe, galacticspline_cringe_fromfits, galacticspline_cringe_unresolved, galacticspline_FangMurase_SNR, galacticspline_FangMurase_Constant, galacticspline_KRA_minH2
# # this is the amount of oversampling per template-bin. This is overriden
# # by optional make_galactic_template args.
# amount = 10

[IC86_pass2_SnowStorm_v2_cscd_cascade_systematics]
systematics = Snowstorm_Gradients_FTP_5up

[IC86_pass2_SnowStorm_v2_cscd_cascade_var_mapping]
reco_energy = energy_monopod
reco_zenith = zenith_monopod
reco_ra = ra_monopod
reco_energy_exists = energy_monopod_exists
reco_energy_fit_status = energy_monopod_fit_status
reco_dir_exists = reco_dir_exists
reco_dir_fit_status = reco_dir_fit_status

[IC86_pass2_SnowStorm_v2_cscd_cascade_var_mapping_mc]
true_energy = MCPrimaryEnergy
true_zenith = MCPrimaryZenith
true_ptype = MCPrimaryType
true_lat = MCPrimaryLat
true_lon = MCPrimaryLon
true_dec = MCPrimaryDec
true_ra = MCPrimaryRA
