[IC86_pass2_SnowStorm_v2_tracks]
name = IC86_pass2_SnowStorm_v2_tracks
# default case: use no events with cascade sample overlaps
datasets_path = ${main:dir_datasets}/SnowStorm_tracks_baseline_FTP_MSUangsens_no_cscd_cascade_cscd_muon
baseline_dataset = ${datasets_path}
systematics = ${name}_systematics
var_mapping = ${name}_var_mapping
var_mapping_mc = ${name}_var_mapping_mc
analysis_binning = ${name}_2D_binning
data = /data/ana/Diffuse/GlobalFit/NNMFit/datasets/data/dataset_data_tracks_IC2010_to_IC2022_no_cscd_cascade_cscd_muon_wCoords.parquet
# livetime 9.5 years:
# livetime = 257989333.37
# livetime for 12.3 years sample:
# livetime = 387231573.49
# livetime 13 years:
livetime = 410978234.97
modification_hooks = 
excluded_components = muontemplate_cascade_globalfit, conventional_veto_globalfit, prompt_veto_globalfit, conventional_hese,prompt_hese,muontemplate_hese

[IC86_pass2_SnowStorm_v2_tracks_2D_binning]
class_name = Binning_2D
analysis_variables = reco_energy, reco_zenith
# reco_energy_binning = (2,7,51,log)
reco_energy_binning = (2.5,7,46,log)
reco_zenith_binning = (-1,0.0872,34,cos)

[IC86_pass2_SnowStorm_v2_tracks_systematics]
systematics = Snowstorm_Gradients_FTP

[IC86_pass2_SnowStorm_v2_tracks_var_mapping]
reco_energy = energy_truncated
reco_zenith = zenith_MPEFit
reco_ra = ra_MPEFit
reco_energy_exists = energy_truncated_exists
reco_energy_fit_status = energy_truncated_fit_status
reco_dir_exists = reco_dir_exists
reco_dir_fit_status = reco_dir_fit_status

[IC86_pass2_SnowStorm_v2_tracks_var_mapping_mc]
true_energy = MCPrimaryEnergy
true_zenith = MCPrimaryZenith
true_ptype = MCPrimaryType
true_lat = MCPrimaryLat
true_lon = MCPrimaryLon
true_dec = MCPrimaryDec
true_ra = MCPrimaryRA
