###
### HESE
###

[IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1_FinalTopology]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1, ice_crystal
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1, CrystalDensityParameterScaling
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0) | (0.8, 1.2)
priors = none, none, none, none, none, 1.0
prior_width = none, none, none, none, none, 0.1
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/hese/systematics/IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1_FinalTopology.pickle
external_gradients = True

[IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1_11features_rloglmilli_evtgen_bdt1_0.333333_bdt2_0.36667_length_10]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1, ice_crystal
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1, CrystalDensityParameterScaling
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0) | (0.8, 1.2)
priors = none, none, none, none, none, 1.0
prior_width = none, none, none, none, none, 0.1
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/hese/systematics/IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1_11features_rloglmilli_evtgen_bdt1_0.333333_bdt2_0.36667_length_10.pickle
external_gradients = True

# data, with priors

[Snowstorm_Gradients_hese_HESEBestfit_SPL_wpriors]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1, ice_crystal
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1, CrystalDensityParameterScaling
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0) | (0.8, 1.2)
priors = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
prior_width = 0.1, 0.05, 0.05, 0.5, 0.05, 0.1
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/hese/systematics/data/11features_rloglmilli_evtgen_bdt1_0.333333_bdt2_0.36667_length_10/hese_HESEBestfit_SPL.pickle

###
### Globalfit
###

[Snowstorm_Gradients_Globalfit_nohese_v1]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1, ice_crystal
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1, CrystalDensityParameterScaling
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0) | (0.8, 1.2)
priors = none, none, none, none, none, 1.0
prior_width = none, none, none, none, none, 0.1
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/GP_globalfit/final/v1/systematics/Snowstorm_Gradients_Globalfit_nohese_v1.pickle
external_gradients = True

[Snowstorm_Gradients_Globalfit_v1]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1, ice_crystal
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1, CrystalDensityParameterScaling
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0) | (0.8, 1.2)
priors = none, none, none, none, none, 1.0
prior_width = none, none, none, none, none, 0.1
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/GP_globalfit/final/v1/systematics/Snowstorm_Gradients_Globalfit_v1.pickle
external_gradients = True

###
### philipp
###

[Snowstorm_Gradients_FTP]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0)
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/ana/Diffuse/GlobalFit/NNMFit/snowstorm_gradients/snowstorm_ftp_all.pickle
external_gradients = True

[Snowstorm_Gradients_FTP_5up]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0)
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/ana/Diffuse/GlobalFit/NNMFit/snowstorm_gradients/snowstorm_ftp_all_cscd_5up.pickle
external_gradients = True

###
### HESE Combined, dortmund
###

[IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1_Combined_energy_zenith]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1, ice_crystal
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1, CrystalDensityParameterScaling
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0) | (0.8, 1.2)
priors = none, none, none, none, none, 1.0
prior_width = none, none, none, none, none, 0.1
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/hese/combined_with_bdt/systematics/IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1/mcd-simpletopology_flux-hese_feat-11features_plus_rloglmilli_econf_evtgen/energy_zenith.pickle
external_gradients = True

[IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1_Combined_energy_bdtprod]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1, ice_crystal
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1, CrystalDensityParameterScaling
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0) | (0.8, 1.2)
priors = none, none, none, none, none, 1.0
prior_width = none, none, none, none, none, 0.1
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/hese/combined_with_bdt/systematics/IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1/mcd-simpletopology_flux-hese_feat-11features_plus_rloglmilli_econf_evtgen/energy_bdtprod.pickle
external_gradients = True

[IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1_Combined_energy_bdt1_bdt2]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1, ice_crystal
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1, CrystalDensityParameterScaling
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0) | (0.8, 1.2)
priors = none, none, none, none, none, 1.0
prior_width = none, none, none, none, none, 0.1
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/hese/combined_with_bdt/systematics/IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1/mcd-simpletopology_flux-hese_feat-11features_plus_rloglmilli_econf_evtgen/energy_bdt1_bdt2.pickle
external_gradients = True

[IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1_Combined_length_bdt1_bdt2_cut_energy]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1, ice_crystal
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1, CrystalDensityParameterScaling
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0) | (0.8, 1.2)
priors = none, none, none, none, none, 1.0
prior_width = none, none, none, none, none, 0.1
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/hese/combined_with_bdt/systematics/IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1/mcd-simpletopology_flux-hese_feat-11features_plus_rloglmilli_econf_evtgen/length_bdt1_bdt2_cut_energy.pickle
external_gradients = True

[IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1_Combined_length_azimuth_cut_energy]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1, ice_crystal
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1, CrystalDensityParameterScaling
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0) | (0.8, 1.2)
priors = none, none, none, none, none, 1.0
prior_width = none, none, none, none, none, 0.1
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/hese/combined_with_bdt/systematics/IC86_pass2_SnowStorm_v2_FTP_Ensemble_hdf-v1/mcd-simpletopology_flux-hese_feat-11features_plus_rloglmilli_econf_evtgen/length_azimuth_cut_energy.pickle
external_gradients = True

###
### Globalfit overlap, outdated sbu cascade, dortmund
###

[Snowstorm_Gradients_HESE_Globalfit_clean_gf_dortmund]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1, ice_crystal
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1, CrystalDensityParameterScaling
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0) | (0.8, 1.2)
priors = none, none, none, none, none, 1.0
prior_width = none, none, none, none, none, 0.1
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/GP_globalfit/final/dortmund/systematics/Snowstorm_Gradients_HESE_Globalfit_clean_gf_dortmund.pickle
external_gradients = True

[Snowstorm_Gradients_HESE_Globalfit_clean_hese_dortmund]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1, ice_crystal
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1, CrystalDensityParameterScaling
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0) | (0.8, 1.2)
priors = none, none, none, none, none, 1.0
prior_width = none, none, none, none, none, 0.1
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/GP_globalfit/final/dortmund/systematics/Snowstorm_Gradients_HESE_Globalfit_clean_hese_dortmund.pickle
external_gradients = True

[Snowstorm_Gradients_HESE_Globalfit_overlap_dortmund]
class = SnowStormGradient
parameters = dom_eff, ice_abs, ice_scat, ice_holep0, ice_holep1, ice_crystal
param_in_dict = DOMEfficiency, IceAbsorption, IceScattering, HoleIceForward_p0, HoleIceForward_p1, CrystalDensityParameterScaling
default = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
split_values = 1.0, 1.0, 1.0, 0.24901831812365854, -0.05678798504997925, 1.0
range = (0.9, 1.1) | (0.9, 1.1) | (0.9, 1.1) | (-0.1, 0.5980366362473171) | (-0.1135759700999585, 0.0) | (0.8, 1.2)
priors = none, none, none, none, none, 1.0
prior_width = none, none, none, none, none, 0.1
hist_parameter = True
hist_parameter_overall = True
gradient_pickle = /data/user/tvaneede/GlobalFit/reco_processing/NNMFit/datasets/flavor_globalfit/GP_globalfit/final/dortmund/systematics/Snowstorm_Gradients_HESE_Globalfit_overlap_dortmund.pickle
external_gradients = True