[minimizer_settings]
class = MINUIT
# allowed methods: migrad, simplex
method = migrad
# minimization strategy
#     0: fast/inaccurate
#         Fast. Does not check a user-provided gradient. Does not improve Hesse matrix
#         at minimum. Extra call to hesse() after migrad() is always needed for
#         good error estimates. If you pass a user-provided gradient to MINUIT,
#         convergence is faster.
#     1: balanced
#         Default. Checks user-provided gradient against numerical gradient.
#         Checks and usually improves Hesse matrix at minimum. Extra call to
#         hesse() after migrad() is usually superfluous. If you pass a
#         user-provided gradient to MINUIT, convergence is slower.
#     2: slow/accurate
#         Careful. Like 1, but does extra checks of intermediate Hessian matrix
#         during minimization. The effect in benchmarks is a somewhat improved
#         accuracy at the cost of more function evaluations. A similar effect can
#         be achieved by reducing the tolerance tol for convergence at any
#         strategy level.
strategy = 1
# toleranc for convergence via EDM:
# The convergence is detected when edm < edm_max, where edm_max is calculated as
#     Migrad: edm_max = 0.002 * tol * errordef
#     Simplex: edm_max = tol * errordef
# Users can set tol (default: 0.1).
# EDM stands for Estimated Distance to Minimum, it is mathematically described
# in the MINUIT paper (https://doi.org/10.1016/0010-4655(75)90039-9).
tolerance = 1e-8
# set disp to True (1) for iminuit info logging during minimization
disp = 0